<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>Disable the feature if you prefer to not use the Shake to Navigate feature</string>
			<key>Title</key>
			<string>Features</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>Key</key>
			<string>StatusHide</string>
			<key>Title</key>
			<string>Shake to go home</string>
			<key>TrueValue</key>
			<true/>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Sharing</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Email</string>
			<key>IASKMailComposeBccRecipents</key>
			<array/>
			<key>IASKMailComposeBody</key>
			<string>The Fremont Unified School District released an app called iFUSD. &lt;br&gt; It&apos;s a great way to stay informed about current events across the district. There are Push Notifications and many more features! You should check it out! It&amp;apos;s free on the iPhone AppStore!&lt;br&gt;&lt;p align=&quot;center&quot; &gt; &lt;a href=&quot;http://itunes.apple.com/us/app/ifusd/id454673943?ls=1&amp;mt=8&quot;&gt;Link to App Store &lt;/a&gt; &lt;br&gt;  &lt;a href=&quot;http://itunes.apple.com/us/app/ifusd/id454673943?ls=1&amp;mt=8&quot;&gt; &lt;img src=&quot;http://ifusd.fremontunified.org/fusdpush/status/114.png&quot; &gt;&lt;img src=&quot;http://ifusd.fremontunified.org/appstore.gif&quot; align=&quot;center&quot;&gt;&lt;/a&gt;</string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>YES</string>
			<key>IASKMailComposeCcRecipents</key>
			<array/>
			<key>IASKMailComposeSubject</key>
			<string>Check out the iFUSD iPhone App</string>
			<key>IASKMailComposeToRecipents</key>
			<array/>
			<key>Title</key>
			<string>Tell a Friend</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Tweet</string>
			<key>File</key>
			<string>http://ifusd.fremontunified.org/twitter.php</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:key:</string>
			<key>Title</key>
			<string>Share on Twitter</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>FUSD</string>
			<key>File</key>
			<string>http://ifusd.fremontunified.org/rate.php</string>
			<key>Title</key>
			<string>Rate this App</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Contact</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Bugs/Suggestions</string>
			<key>IASKMailComposeBccRecipents</key>
			<array/>
			<key>IASKMailComposeBody</key>
			<string>Hello, &lt;br&gt;Please enter your bug report or feature suggestion below: &lt;br&gt; &lt;br&gt;Application Version:1.2</string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>YES</string>
			<key>IASKMailComposeCcRecipents</key>
			<array/>
			<key>IASKMailComposeSubject</key>
			<string>FUSD Application Feedback</string>
			<key>IASKMailComposeToRecipents</key>
			<array>
				<string>fusd@sumukhsridhara.com</string>
			</array>
			<key>Title</key>
			<string>Feedback</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.2</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Fremont Unified</string>
			<key>Key</key>
			<string>copyright</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>AboutViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Credits</string>
			<key>DefaultValue</key>
			<string>Credits</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
